version: "3.3"
services: 
  server: 
    image: le-bon-plan
    build:
      context: .
    environment:
      - DB_URL=mongodb://mongo/lebonplan
    ports: 
     - "8000:8000"
    depends_on: 
      - mongo    
  mongo:
    image: "mongo:4.1" 
    restart: always
    volumes:
      - mdb-data2:/data/db
    ports:
      - "27017:27017"
volumes: 
  mdb-data2: 
