<h1>Login</h1>

<form action="/auth/login" method="POST">

    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Enter Your Email">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter Your Passeword">
    <input type="submit" value="connection" id="btn-connect">

    <a href="/register">Register</a>
    <p> 
        <a href="https:/hhhfhgfjhdtkjdtj.com/">test link </a>
    </p>
    <p> 
        <a href="https://zazzztyyuu.com/">test link </a>
    </p>
    <p> 
        <a href="https://oooozazzztyyuu.com/">test link </a>
    </p>

</form>