<html>

<head>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <nav>
        <div class="brand">
            <h2>LeBonPlan</h2>
        </div>
        <a href="/admin/register">Register</a>
    </nav>

    <main>

        <div class="container-form">

            <h1>login</h1>

            <form action="/admin/login" method="post" class="form-group">
                <!-- <label for="email">Email</label>
            <input type="email" name="email" id="email"> -->
                <label for="username">username</label>
                <input type="text" name="username" id="username">

                <label for="password">Password</label>
                <input type="password" name="password" id="password">

                <button type="submit">Login</button>
            </form>

        </div>

    </main>
</body>

</html>