<h1>Login</h1>

<form action="/auth/login" method="POST">

    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Enter Your Email">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter Your Passeword">
    <input type="submit" value="connection" id="btn-connect">

    <a href="/register">Register</a>
    <a href="https://github.com/sofianeSghiouar">test link </a>
</form>